* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
}

.card {
    background-color: #faf9f4;
    width: 220px;
    width: 400px;
    margin: 10px;
    
}

body {
    background-color:lightgoldenrodyellow;
    font-family: 'Oswald', sans-serif;
   background-image: url('img/shark-gost.jpg');
}  

.wrapper {
    margin-top: 10%;
}

.wrapper h1 {
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}
.team-about-us {
    display: flex;
    text-align: center;
    width:auto;
    justify-content: center;
    flex-wrap: wrap;
}

.team-about-us {
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    position: relative;
}

.team-about-us h3{
    color: black;
    font-size: 26px;
    margin-top: 50px;
}

.team-about-us  {
    color: #FFCC66;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

.team-about-us{
    width: 100px;
    height: 100px;
    border-radius: 50%;
     position: absolute;
     top: -50px;
     left: 50%;
     transform: translateX(-50%);
     background: #fff;
   
}

  .team-about-us {
    width: 100px;
    height: 100px;
    padding: 5px;
    object-fit: cover;
}  

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.193);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  }

  .container {
    padding: 2px 16px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 4px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
  }
 
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
 
  button:hover, a:hover {
    opacity: 0.7;
  }